<!DOCTYPE html>
<html>
<body>
<h1 align="center">Customer Home Page</h1>


<button type="button" href="/viewMyFlights">View My Flights</button></br>
<button type="button" href="/searchForFlights">Search for Flights</button></br>
<button type="button" href="/purchaseTickets">Purchase Tickets</button></br>
<button type="button" href="/giveComments">Comment</button></br>
<button type="button" href="/trackMySpending">Track My Spending</button></br>
<button type="button" href="/logout">Logout</button>


</body>
</html>
