<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
{% if not message %}
<form action="/flightSearchAction" method="POST">
	<label for="dept_city">departure city or airport:</label><br>
	<input type="text" name = "dept_city" placeholder="departure city or airport" required/> </br>
	<label for="dest_city">destination city or airport:</label><br>
	<input type="text" name = "dest_city" placeholder="destination city or airport" required/></br>
	<label for="dept_date">departure date:</label><br>
	<input type="date" name = "dept_date" placeholder="departure date" required/></br>
	<label for="ret_date">return date:</label><br>
	<input type="date" name = "ret_date" placeholder="return date"/></br>
	<input type="submit" value = Search />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
{% endif %}
{% if message %}
<table>
	<th>Flight Number</th>
	<th>Airline</th>
  <th>Departure Date and Time</th>
  <th>Arrival Date and Time</th>
  <th>Departure Airport</th>
  <th>Arrival Airport</th>
  <th>Departure City</th>
  <th>Arrival City</th>
  {% for line in message %}
  	<tr>
  		<td>{{line['flight_no']}}</td>
  		<td>{{line['airline']}}</td>
      <td>{{line['dep_datetime']}}</td>
      <td>{{line['arr_datetime']}}</td>
      <td>{{line['dep_airport']}}</td>
      <td>{{line['arr_airport']}}</td>
      <td>{{line['dep_city']}}</td>
      <td>{{line['arr_city']}}</td>
  	</tr>
  {% endfor %}
{% endif %}
<a href="/">Go back</a>
</body>
</html>
