<!DOCTYPE html>
<html>

<head>

</head>
<script>
function myalert(){
          alert("Logged Out!");
          }
</script>
<body>
{% if not message %}
	<a href="/customer_login">Login as Customer</a>
	<a href="/staff_login">Login as Staff</a>
	<a href="/customer_register">Register as Customer</a>
	<a href="/staff_register">Register as Staff</a>
	<a href="/public_info">View Public Information</a>
{% endif %}

{% if message %}
	<a href="/public_info">View Public Information</a>
	<a href="/logout">Logout</a>
	</br>

        <h4>15 most recent tweets from you and your followers </h4> </br>

	{% for line in tweets%}
	        <p>{{line}}</p>
	        <hr>
	{% endfor %}
	{% endif %}

</body>

</html>
