<!DOCTYPE html>
<html>
<body>
<h1 align="center">Customer Home Page</h1>


<button type="button" href="/viewFlights">View Flights</button></br>
<button type="button" href="/createNewFlights">Create New Flights</button></br>
<button type="button" href="/changeStatus">Change Status of Flights</button></br>
<button type="button" href="/addAirplane">Add Airplane</button></br>
<button type="button" href="/addAirport">Add Airport</button></br>
<button type="button" href="/viewRatings">View Ratings</button></br>
<button type="button" href="/viewFrequent">View Frequent Customers</button></br>
<button type="button" href="/viewReports">View Reports</button></br>
<button type="button" href="/viewRevenue">View Quarterly Revenue Earned</button></br>
<button type="button" href="/viewTopDest">View Top Destinations</button></br>
<button type="button" href="/logout">Logout</button>


</body>
</html>
