<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>{{session['staff']["airline"]}} Mangement System</h1>
    <h1>Staff: {{session['staff']["first_name"]}} {{session['staff']["last_name"]}}</h1>
</head>
<body>



<p><a href="/view_flights">View Flights</a></p>
<p><a href="/create_flight">Create New Flights</a></p>
<p><a href="/change_status">Change Status</a></p>
<p><a href="/add_airplane">Add Airplane</a></p>
<p><a href="/add_airport">Add Airport</a></p>
<p><a href="/view_rating">View Flight Rating</a></p>
<p><a href="/view_frequent_cust">View Frequent Customer</a></p>
<p><a href="/view_cust_flights">View Customer's Flights</a></p>
<p><a href="/view_sales">View Sales</a></p>
<p><a href="/view_quarter">View Quarterly Performance</a></p>
<p><a href="/staff_home">Go Home</a></p>
<p><a href="/logoutStaff">Logout</a></p>
</body>
</html>
