<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ session["airline"]}} Mangement System</title>
    <h1>User: {{session["first_name"]}} {{session["last_name"]}}</h1>
</head>
<body>



<a href="/view_frequent_cust">View Frequent Customer</a>
<a href="/view_cust_flights">View Customer's Flights</a>
<a href="/view_sales">View Sales</a>
<a href="/view_quarter">View Quarterly Performance</a>
<a href="/staff_home">Go Home</a>
<a href="/logoutStaff">Logout</a>
</body>
</html>
