<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
  {% if not message %}
  <form action="/viewCustFlightsAction" method="POST">
  	<label for="email">customer email:</label><br>
  	<input type="text" name = "email" placeholder="customer email" required/> </br>
  	<input type="submit" value = Search />
  	{% if error %}
  		<p class="error"><strong>Error:</strong> {{error}}</p>
  	{% endif %}
  </form>
  {% endif %}
  {% if message %}
  <table>
  	<th>Departure Airport</th>
  	<th>Arrival Airport</th>
    <th>Departure Date and Time</th>
    <th>Flight Number</th>
    <th>Ticket ID</th>
    {% for line in message %}
    	<tr>
    		<td>{{line['dep_airport']}}</td>
    		<td>{{line['arr_airport']}}</td>
        <td>{{line['dep_datetime']}}</td>
        <td>{{line['flight_no']}}</td>
        <td>{{line['ticket_id']}}</td>
    	</tr>
    {% endfor %}
  {% endif %}
  </body>
  </html>
