
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<style type="text/css">
			table,td,th {
				text-align: center;
				vertical-align:middle;
				border-style: solid
			}
		</style>
  {% if data %}
   <table>
  	<th>Flight No</th>
    <th>Departure Datetime</th>
  	<th>Average Rating</th>
      {% for line in data %}
    	<tr>
    		<td>{{line['flight_no']}}</td>
        <td>{{line['dep_datetime']}}</td>
    		<td>{{line['rating']}}</td>
    	</tr>
      {% endfor %}
  <form action="/viewFlightRating" method="POST">
  	<label for="flight_no">Search ratings for flight_no:</label><br>
  	<input type="text" name = "flight_no" placeholder="flight_no" required/> </br>
    <label for="dept_date">departure date:</label><br>
    <input type="date" name = "dept_date" placeholder="departure date" required/></br>
  	<input type="submit" value = Search />
  	{% if error %}
  		<p class="error"><strong>Error:</strong> {{error}}</p>
  	{% endif %}
  </form>

  {% endif %}
  {% if message %}


  <table>
    <th>Name</th>
  	<th>Rate</th>
  	<th>Comment</th>


    {% for line in message %}
    	<tr>
    		<td>{{line['name']}}</td>
    		<td>{{line['rate']}}</td>
        <td>{{line['comment']}}</td>
    	</tr>
    {% endfor %}
    <a href="/">Go Home</a>
    {% endif %}
  </body>
  </html>
