<html>
<head>
</head>
<script>
function getdateyear(){
          var now = new Date();
          var year = now.getFullYear();
          var start = new Date(year-1, 00, 02);
          var end = new Date(year-1, 11, 32);
          document.getElementById("start_date").valueAsDate= start;
          document.getElementById("end_date").valueAsDate= end;
          }
</script>
<body onload="getdateyear();">
  {% if not message %}
  <form action="/viewQuarterAction" method="POST">
  	<label for="start_date">start date:</label><br>
  	<input type="date" id = "start_date" name="start_date" required/> </br>
    <label for="end_date">end date:</label><br>
  	<input type="date" id = "end_date" name="end_date" required/> </br>
  	<input type="submit" value = Search />
  	{% if error %}
  		<p class="error"><strong>Error:</strong> {{error}}</p>
  	{% endif %}
  </form>
  {% endif %}
<a href="/staff_home">Go Home</a>
  </body>
  </html>
